<form method="POST" action="/new">
  <h1>New Message</h1>
  <label for="messageUser">User:</label>
  <input type="text" id="messageUser" name="messageUser">
  <label for="messageText">Message:</label>
  <input type="text" id="messageText" name="messageText">
  <button type="submit">Send</button>
</form>