<html>
  <h2>Message Details</h2>
  <h3> <%= messages[messageIndex].user %> </h3>
  <i> <%= formatDistanceToNow(messages[messageIndex].added, { addSuffix: true }) %> </i> 
  <p> <%= messages[messageIndex].text %> </p>
</html>